// Body
$contentWidth = auto
$h1FontSize = 1.8rem
$h2FontSize = 1.5rem
$bodyFontFamily = -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important

// Links color
$accentColor = #017698

// Navbar
$navbarBgColor = #082336 !important
$navbarFontColor = #ffffff !important
$navbarLinksHoverColor = #0069DA !important
$navbarFontSize = 1.4rem !important
$navbarLinksFontSize = 15px !important
$navbarFontWeight = 600 !important
$navbarLinksFontWeight = 600 !important
$navbarFontFamily = montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,oxygen-sans,Ubuntu,Cantarell,"Helvetica Neue",Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol !important

// Sidebar
$sidebarFontSize = 1em !important
$sidebarFontWeight = 600 !important

// Code block
$codeBgColor = #264154

// Warning
$warningBgColor = #FFCB1250
$warningBorderColor = #e1ad00
$warningTitleColor = #e1ad00

// Tip
$tipBgColor = #dcd7d740
$tipBorderColor = #68bc11

// Danger
$dangerBgColor = #ff6e7140
$dangerBorderColor = #e1282b

// Tables
$theadBgColor = #304b5e
$theadFontColor = #ffffff
$theadFontWeight = 600
